z* {
  font-family: "Courier New", Courier, monospace;
}

.iframe-container {
  margin-bottom: 50px;
  border: 1px solid black;
  height: 425px;
  width: 100%;
}
header {
  font-size: xx-large;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.container {
  border-radius: 25px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
}

.list {
  list-style: none;
  padding: 0;
}

.list li {
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
  overflow: hidden;
  transition: max-height 1.3s ease;
}

.id {
  font-weight: bold;
  font-size: larger;
}

.details {
  max-height: 0;
  font-size: larger;
  overflow: hidden;
  transition: max-height 1.3s ease;
}

.name,
.age {
  display: block;
  margin-bottom: 5px;
}

li.active span {
  margin: 10px;
}

li.active .details {
  max-height: 400px;
}

li.active {
  transition: 1.3s ease;
}

.status {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100px;
  margin-bottom: 50px;
}

.imageContainer {
  max-width: 15%;
  max-height: 80%;
  margin-right: 60px;
}

.headerContainer {
  width: 80%;
  height: 100%;
}

.myimg {
  width: 50px;
  height: 50px;
}
