* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
}

body {
  background-color: #202124;
}

.iframe-container {
  margin-bottom: 30px;
  border-radius: 5px;
  height: 100px;
  width: 100%;
}

header {
  font-size: xx-large;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

span {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  margin-bottom: 4rem;
}

.container {
  display: flex;
  border: 1px solid #858583;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  flex-wrap: wrap;
}

.list {
  list-style: none;
  margin: 20px;
  width: 90%;
  padding: 0;
  border-radius: 5px;
  border: 1px solid #858583;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list li {
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
  overflow: hidden;
  transition: max-height 1.3s ease;
}

.id {
  font-weight: bold;
  font-size: larger;
}

.details {
  max-height: 0;
  width: 100%;
  font-size: larger;
  overflow: hidden;
  transition: max-height 1.3s ease;
}

.name {
  display: block;
  margin-bottom: 5px;
  width: 90%;
}

li.active span {
  margin: 10px;
}

li.active .details {
  max-height: 450px;
}

li.active {
  transition: 1.3s ease;
}

.status {
  border: 1px solid #858583;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100px;
  margin-bottom: 30px;
}

.headerContainer {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
}

.myimg {
  width: 50px;
  height: 50px;
}
